services:
  db:
    image: postgres:16.2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: epimetric_patient_dev
      TZ: Asia/Tokyo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      RAILS_ENV: development
      DATABASE_HOST: db
      DATABASE_NAME: epimetric_patient_dev
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: password
      DATABASE_PORT: 5432
      RAILS_MAX_THREADS: 5
      TZ: Asia/Tokyo
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails db:create db:migrate && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - ./backend:/app
      - bundle_cache:/usr/local/bundle
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_URL: http://localhost:3000
      API_URL: http://backend:3000
      TZ: Asia/Tokyo
    volumes:
      - ./frontend:/app
      - front_node_modules:/app/node_modules
    command: sh -c "yarn install && yarn dev -p 4000"
    ports:
      - "4000:4000"
    depends_on:
      - backend

volumes:
  postgres_data:
  front_node_modules:
  bundle_cache:
